<mat-drawer-container autosize [hasBackdrop]="true" fxFlex="100" fxLayoutAlign="stretch stretch">
  <mat-drawer #drawer mode="over">
      <div fxLayout="column" fxLayoutAlign="center center" class="sidenav-menu py-8">
          <a fxFlex="initial" (click)="drawer.toggle()" routerLink="/">
              <img src="assets/images/logo.svg" [alt]="l('Logo')">
          </a>
          <mat-list fxFlex="auto">
              <mat-list-item routerLink="home" routerLinkActive (click)="drawer.toggle()" class="cursor-pointer">
                  <mat-icon mat-list-icon>home</mat-icon>
                  <h4 mat-line>{{l('Home')}}</h4>
              </mat-list-item>
              <!-- <mat-divider></mat-divider>
              <mat-list-item routerLink="main/settings" routerLinkActive (click)="drawer.toggle()"
                  class="cursor-pointer">
                  <mat-icon mat-list-icon>settings</mat-icon>
                  <h4 mat-line>{{l('Settings')}}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item routerLink="admin" routerLinkActive (click)="drawer.toggle()" class="cursor-pointer">
                  <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
                  <h4 mat-line>{{l('Admin')}}</h4>
              </mat-list-item> -->
          </mat-list>
          <div fxLayout="column" class="w-100-p px-8">
              <button fxFlex="100" mat-flat-button color="primary" (click)="signin()">{{l('Sign In')}}</button>
              <button fxFlex="100" mat-flat-button (click)="signup()">{{l('Sign Up')}}</button>
          </div>
      </div>
  </mat-drawer>
  <mat-drawer-content fxFlex="100" fxLayout="column" class="py-8">
      <cs-header fxFlex="initial" (sidebarToggle)="drawer.toggle()"></cs-header>
      <div fxLayout="column" fxFlex="auto" class="overflow-y-auto">
          <div fxFlex="auto" class="overflow-y-auto" style="height:fit-content;">
              <router-outlet></router-outlet>
          </div>
          <cs-footer fxFlex="initial">
          </cs-footer>
      </div>
  </mat-drawer-content>
</mat-drawer-container>