<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
        <a style="display: flex; align-items: center;" [title]="l('Logo')" routerLink="/" [title]="l('Home')">
            <img src="assets/images/logo.svg" [alt]="l('Logo')">
        </a>
        <h5 class="ml-12 logo-name">{{l('Cgo') | uppercase}}</h5>
    </div>
    <div fxShow fxHide.lt-md fxLayout="row" fxLayoutAlign="center center" class="text-center" fxFlex="100">
        <a [title]="l('Facebook Page')" href="https://www.facebook.com/cgo-official" target="_blank" class="mx-4">
            <img class="social-img-filter" [alt]="l('Facebook Page')" src="/assets/images/facebook.svg" />
        </a>
        <a [title]="l('Instagram Page')" href="https://www.instagram.com/cgo-official" target="_blank" class="mx-4">
            <img class="social-img-filter" [alt]="l('Instagram Page')" src="/assets/images/instagram.svg" />
        </a>
        <a [title]="l('Twitter Page')" href="https://twitter.com/cgo-official" target="_blank" class="mx-4">
            <img class="social-img-filter" [alt]="l('Twitter Page')" src="assets/images/twitter.svg" />
        </a>
    </div>
    <div fxShow fxHide.lt-md fxLayout="row" fxLayoutAlign="center center" class="text-center" fxFlex="100">
        <a href="#" class="mx-8">
            {{l('legal') | uppercase}}
        </a>
        <div class="divider"></div>
        <a href="#" class="mx-8">
            {{l('support') | uppercase}}
        </a>
        <div class="divider"></div>
        <a href="#" class="mx-8">
            {{l('FAQ') | uppercase}}
        </a>
    </div>
</div>