<div class="p-8">
  <mat-vertical-stepper [linear]="true">
    <mat-step [stepControl]="stepOneForm">
      <form [formGroup]="stepOneForm">
        <ng-template matStepLabel>{{l('Digite seu Email')}}</ng-template>
        <mat-form-field class="w-100-p">
          <input matInput [placeholder]="l('Email')" formControlName="email" required autocomplete="email">
        </mat-form-field>
        <div fxLayoutAlign="flex-end center">
          <button [disabled]="stepOneForm.invalid" mat-flat-button color="primary" matStepperNext>{{l('Next')}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="stepTwoForm">
      <form [formGroup]="stepTwoForm">
        <ng-template matStepLabel>{{l('Digite o código recebido por email')}}</ng-template>
        <mat-form-field class="w-100-p">
          <input matInput [placeholder]="l('fogotPasswordCode')" formControlName="code" required autocomplete="off">
        </mat-form-field>
        <div fxLayoutAlign="flex-end center">
          <button mat-flat-button color="warn" matStepperPrevious>{{l('Cancel')}}</button>
          <button [disabled]="stepTwoForm.invalid" mat-flat-button color="primary" matStepperNext>{{l('Next')}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="stepThreeForm">
      <form [formGroup]="stepThreeForm">
        <ng-template matStepLabel>{{l('Mude sua senha')}}</ng-template>
        <mat-form-field class="w-100-p">
          <input matInput [placeholder]="l('newPassword')" formControlName="newPassword" required type="password"
            autocomplete="new-password">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input matInput [placeholder]="l('newPasswordConfirm')" formControlName="newPasswordConfirm" required
            type="password" autocomplete="new-password">
        </mat-form-field>
        <div fxLayoutAlign="flex-end center">
          <button mat-flat-button color="warn" matStepperPrevious>{{l('Cancel')}}</button>
          <button [disabled]="stepThreeForm.invalid" mat-flat-button color="primary"
            matStepperNext>{{l('Save')}}</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>