@import "~@angular/material/prebuilt-themes/purple-green.css";
*{
    font-family: 'Roboto', sans-serif;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.bold {
    font-weight: bold;
}

