<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxFlex="100">
        <h2>Sobre</h2>
        <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between center">
            <a href="#" target="_blank">Link 01</a>
            <a href="#" target="_blank">Link 02</a>
            <a href="#" target="_blank">Link 03</a>
        </div>
    </div>
    <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
        <img src="assets/images/logo.svg">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="text-center">
            <a href="#" target="_blank">
                <img src="/assets/images/facebook.svg" />
            </a>
            <a href="#" target="_blank">
                <img src="/assets/images/instagram.svg" />
            </a>
            <a href="#" target="_blank">
                <img src="assets/images/twitter.svg" />
            </a>
        </div>
    </div>
    <div fxLayout="column" fxFlex="100">
        <h2>Teste</h2>
        <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100" class="text-center">
            <a href="#" target="_blank">Link 01</a>
            <a href="#" target="_blank">Link 02</a>
            <a href="#" target="_blank">Link 03</a>
        </div>
    </div>
</div>