<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxFlex="100">
        <h2>Sobre</h2>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
            <a href="#">Link 01</a>
            <a href="#">Link 02</a>
            <a href="#">Link 03</a>
        </div>
    </div>
    <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
        <img src="#">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="text-center">
            <a href="#">
                <mat-icon svgIcon="thumbs-up"></mat-icon>
            </a>
            <a href="#">
                <mat-icon svgIcon="thumbs-up"></mat-icon>
            </a>
            <a href="#">
                <mat-icon svgIcon="thumbs-up"></mat-icon>
            </a>
        </div>
    </div>
    <div fxLayout="column" fxFlex="100">
        <h2>Teste</h2>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" class="text-center">
            <a href="#">Link 01</a>
            <a href="#">Link 02</a>
            <a href="#">Link 03</a>
        </div>
    </div>
</div>