<div class="pt-0 p-8" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="auto" fxLayoutAlign="space-between center">
    <div fxFlex="initial" fxLayoutAlign="flex-start center">
      <button (click)="onToggleSidebar()" fxShow.lt-lg fxHide mat-button>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" title="Home">
        <img src="assets/images/logo.svg" alt="logo">
      </a>
    </div>
    <nav fxFlex="auto" fxHide.lt-lg mat-tab-nav-bar>
      <a mat-tab-link routerLink="home" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{l('Home')}}
      </a>
      <a mat-tab-link routerLink="main/settings" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{l('Settings')}}
      </a>
      <a mat-tab-link routerLink="admin" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{l('Admin')}}
      </a>
    </nav>
  </div>
  <div fxFlex="initial">
    <ng-container *ngIf="logged">
      <img [src]="logged.image" alt="profile">
      <button mat-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <span>
          <mat-icon>dialpad</mat-icon> {{logged.name}}
        </span>
        <button mat-menu-item class="mr-4">{{l('Meu Perfil')}}</button>
        <button mat-menu-item class="ml-4">{{l('Sair')}}</button>
      </mat-menu>
    </ng-container>
    <ng-container *ngIf="!logged">
      <button mat-flat-button class="mr-4" color="primary" (click)="signin()">{{l('Sign In')}}</button>
      <button mat-flat-button class="ml-4" (click)="signup()">{{l('Sign Up')}}</button>
    </ng-container>
  </div>
</div>