<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <img src="#" alt="logo">
    <span></span>
  </div>
  <div>
    <div *ngIf="logged">
      <img [src]="logged.image" alt="profile">
      <button mat-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <span>
          <mat-icon>dialpad</mat-icon> {{logged.name}}
        </span>
        <button mat-menu-item>Meu Perfil</button>
        <button mat-menu-item>Sair</button>
      </mat-menu>
    </div>
    <div *ngIf="!logged">
      <button mat-flat-button color="primary" (click)="signup()">Entrar</button>
      <button mat-flat-button (click)="signin()">Cadastrar</button>
    </div>
  </div>
</div>