<div class="p-8">
  <h1>{{l('Log In')}}</h1>
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <input matInput formControlName="login" [placeholder]="l('Login')" autocomplete="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" [placeholder]="l('Password')" type="password"
        autocomplete="current-password">
    </mat-form-field>
    <div fxFlex="100" fxLayoutAlign="flex-end center">
      <button mat-flat-button color="primary">{{l('LogIn')}}</button>
    </div>
  </form>
</div>