<mat-card fxLayout="column" style="height: 100%;">
  <mat-card-header fxFlex="initial">
    <mat-card-title>{{l('Vacinas')}}</mat-card-title>
    <mat-card-subtitle *ngIf="!countryVaccinations || countryVaccinations.length == 0">{{l('Saiba as vacinas que você deve tomar para este país')}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxFlex="auto" fxLayout="row wrap" class="card-content">
    <mat-selection-list *ngIf="countryVaccinations && countryVaccinations.length > 0" fxFlex="100">
      <h3 mat-subheader>{{l('Vacinas Obrigatórias / Recomendadas')}}</h3>
      <mat-list-option *ngFor="let vaccine of countryVaccinations">
        <mat-icon *ngIf="vaccine.riscoVacina === 0 || vaccine.riscoVacina === 1" mat-list-icon class="f-blue">info</mat-icon>
        <mat-icon *ngIf="vaccine.riscoVacina === 2 || vaccine.riscoVacina === 3" mat-list-icon class="f-orange">warning</mat-icon>
        <mat-icon *ngIf="vaccine.riscoVacina >= 4" mat-list-icon class="red">warning</mat-icon>
        <h3 mat-line>{{l(vaccine.nome)}}</h3>
        <p mat-line> {{l(vaccine.observacoes)}}</p>
      </mat-list-option>
    </mat-selection-list>
    <h4 *ngIf="!countryVaccinations || countryVaccinations.length == 0"
    style="width: 100%;text-align: center;">{{l('Não há dados de vacinas recomendadadas para este pais')}}</h4>
  </mat-card-content>
</mat-card>
