<mat-card style="max-height: 500px" fxLayout="column">
  <mat-card-header fxFlex="initial">
    <mat-card-title>{{l('Vacinas')}}</mat-card-title>
    <mat-card-subtitle>{{l('Saiba as vacinas que você deve tomar para este país')}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxFlex="auto" fxLayout="row wrap" class="card-content">
    <mat-selection-list fxFlex="100">
      <h3 mat-subheader>{{l('Obrigatórias')}}</h3>
      <mat-list-option>
        <mat-icon mat-list-icon class="f-red">warning</mat-icon>
        <h3 mat-line>{{l('Sarampo')}}</h3>
        <p mat-line> {{l('Descrição Sarampo')}} </p>
      </mat-list-option>
      <mat-divider></mat-divider>
      <h3 mat-subheader>{{l('Recomendadas')}}</h3>
      <mat-list-option>
        <mat-icon mat-list-icon class="f-blue">info</mat-icon>
        <h3 mat-line>{{l('Gripe Suína')}}</h3>
        <p mat-line>{{l('Descrição Gripe Suína')}}</p>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>