<div fxFlex="100" fxLayout="column" class="p-8">
  <div fxLayout="column" fxFlex="100" fxLayoutGap="10px" class="overflow-x-hidden overflow-y-auto">
    <cs-country-banner *ngIf="currentCountry" [country]="currentCountry"></cs-country-banner>
    <div fxFlex="100" fxLayoutAlign="flex-end center">
      <form [formGroup]="selectCountryForm">
        <mat-form-field>
          <input matInput [placeholder]="l('Filtro de Pais')" formControlName="countrySelect"
            [matAutocomplete]="countryAutocomplete">
          <mat-autocomplete #countryAutocomplete="matAutocomplete">
            <mat-option *ngFor="let country of countriesList" [value]="country.countryName">
              <img *ngIf="country?.imagemBandeira" [src]="country.imagemBandeira" [alt]="country.countryName">
              <h2 *ngIf="!country.imagemBandeira" [class]="'flag-icon flag-icon-'+ country.countryIso2.toLowerCase()">
              </h2>
              <span>{{country.countryName}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <cs-countries-list [countryList]="filteredCountriesList"></cs-countries-list>
    <!-- <cs-map-widget [mapCoordinates]="mapCoordinate"></cs-map-widget>
    <cs-country-stats-summary></cs-country-stats-summary>
    <cs-country-vaccination></cs-country-vaccination> -->
  </div>
</div>