.flag-icon{
    background-position: center;
    background-size: cover;
    font-size: 100px;
}
.country-image {
    background: rgba(255,255,255, 0.1);
    img, h2{
        margin: 5px 0;
    }
    img{
        max-width: 100%;
        height: 100px;
    }
}
.country-content {
    border: 1px solid rgba(255,255,255, 0.1);
    padding: 0 12px 12px 12px;
}